body{
    background-color: #6960EB;
    
}


#bar{
    /*los coloca hasta arriba y los separa entre si */
    display:  flex; 
    justify-content: space-around;
    width: 100%;
    align-items:center ; /*los centra verticalmente papii */
    height: 60px;
    background-color: azure;
    border-radius: 15px;
    
}

#yo{
    background-color: azure;
    border-radius: 15px;
    align-items: center;
    padding-inline-start: 20px; /*lo separa de la linea dell cuadro donde estan*/
}

#contenedor{
    background-color: azure;
    border-radius: 15px;
    flex-wrap: wrap;
    padding-block-start: 20px;
    gap: 10px;

}

#footer{
    background-color: azure;
    border-radius: 15px;
    padding-inline-start: 25px;
}
